.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenido {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.titulo {
  display: flex;
  justify-content: center;
}

.comprar {
  background-color: #353a69;
}
