* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;

  position: relative;
}

.buttons {
  display: flex;
  flex-direction: column;
  border: none;
  text-decoration: none;
  margin-top: 70px;
  align-items: center;
}

.buttons a {
  padding: 30px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  width: 250px;
  color: white;
  background-color: rgb(3, 11, 88);
  border-radius: 5px;
  font-size: 20px;
}
.btn {
  background-color: purple;
}
.container__div {
  margin-top: 0px;
  background-color: rgb(147, 153, 215);
  height: 600px;
  border-radius: 600px;
  text-align: center;
  width: 1200px;
  align-items: center;
  position: relative;
}

article h1 {
  padding-top: 50px;
  color: black;
  font-size: 50px;
}

article p {
  font-size: 20px;
}
article button {
  font-size: 50px;
  border-radius: 150px;
}
.logo {
  height: 160px;
  width: 160px;
  border-radius: 100%;
  position: absolute;
  left: 530px;
  top: -40%;
  transform: translateY(100%);
  background-image: url('../img//logo.jpg');
  background-size: contain;
}
h1 {
  margin-top: 100px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
